= form_tag({controller: :orgao_softwares, action: :index}, method: "get") do
  = select_tag :orgao_id, options_from_collection_for_select(Orgao.all, :id, :nome), :prompt => "Selecione um 처rg찾o", class: 'span6'
  
  = submit_tag :submit, class: 'btn btn-success filtro', value: 'Filtrar 처rg찾o'

