.alert.alert-success= notice

%h1 Visualizar software selecionado

%table.table.table-hover
  %tr
    %td
      %b Nome:
    %td
      = @software.nome

%br

.btn.btn-small.btn-inverse
  = link_to 'Editar', edit_software_path(@software)

.btn.btn-small.btn-inverse
  = link_to 'Voltar', softwares_path