%h1 Editar demanda de Videomonitoramento

= render 'form'

.btn.btn-small.btn-inverse
  = link_to 'Mostrar', @demanda_videomonitoramento

.btn.btn-small.btn-inverse
  = link_to 'Voltar', demanda_videomonitoramentos_path
