<p>Olá <%= @resource.email %>!</p>

<p>Foi solicitado um link para mudar a senha. Você poderá fazer isso clicando no link abaixo.</p>

<p><%= link_to 'Mudar a senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não tiver solicitado, por favor apenas ignore este email.</p>
<p>Sua senha não irá mudar até que você clique no link acima e confirme as alterações.</p>
